#!/bin/bash

####################################
## Backup for consul cluster
## Version : v1.0
####################################

LOG=/var/log/backups/restic_consul-$(date +%F).log

# source credentials
source /root/.config/restic/restic_consul.creds

# backup consul
/usr/local/bin/consul snapshot save /tmp/consul-backup.bck

# push backup
restic backup /tmp/consul-backup.bck

# purge backup
restic forget --keep-last=14 \
    --keep-within-daily=30d \
    --keep-within-weekly=90d \
    --keep-within-monthly=365d \
    --group-by '' \
    --prune \
    --host {{ ansible_hostname }}

